body {
    overflow-x: hidden;
}

.pemandangan {
    background-image: url(pemandangan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: justify;
}

button {
    border: 1px solid black;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: lightsteelblue;
}

nav {
    display: inline;
}

.harimau {
    margin-left: 120px;
}

.bunglon {
    margin-left: 120px;
}
.utan {
    margin-left: 120px;
}

.icon {
    font-size: x-large;
}